<% for(producto of productos){ %>
  <div class="card" style="min-width: 25%; max-width: 26%; margin-bottom: 2%;">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="<%=producto.img%>"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
    
        <!--Card content-->
        <div class="card-body">
    
          <!--Title-->
          <h4 class="card-title"><%=producto.nombre%></h4>
          <!--Text-->
          <p class="card-text"><%=producto.descripcion%></p>
          <h6 class="card-text">STOCK DISPONIBLE: <%=producto.stock%></h6>
          <h5 class="card-title"> $<%=producto.precio%></h5>

          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <button type="button" class="btn btn-dark btn-md" id="btn-<%=producto.id%>"><a href="/productos/<%=producto.id%>">EDITAR</a></button>

    
        </div>
    
      </div>
      
<% }%>

