<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('./partials/head.ejs') -%>
        <title>Administrador</title>
    </head>
    <body>
        <%- include('./partials/nav.ejs') -%>

        <div class="card-deck" style="margin: 2% auto; width: 70%; display: flex;" id="cards-container">
            <%- include('./partials/cards.ejs') -%>
            
        </div>

        <div id="form-container" style="display: none;">
            <%- include('./partials/add-form.ejs') -%>

        </div>

        <script src="../js/adminMain.js"></script>
        <%- include('./partials/jsScripts.ejs') -%>
        
    </body>
</html>