<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs') -%>
    <title>Tienda</title>
</head>
<body>
    <nav class="navbar" style="background-color: black;">
        <a class="navbar-brand" href="/carrito">
          <img src="https://1000marcas.net/wp-content/uploads/2019/11/Nike-emblema.jpg" style="width: 100px; height: 50px; padding-left: 5%;" alt="">
        </a>
    
        <button type="button" class="btn btn-light">ver carrito</button>
    </nav>

    <div class="card-deck" style="margin: 2% auto; width: 70%; display: flex;" id="cards-container">
        <% for(product of products){ %>
            <div class="card" style="min-width: 25%; margin-bottom: 2%; border: 0ch;">
          
                  <!--Card image-->
                  <div class="view overlay">
                    <img class="card-img-top" src="<%=product.img%>"
                      alt="Card image cap">
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
              
                  <!--Card content-->
                  <div class="card-body">
              
                    <!--Title-->
                    <h4 class="card-title"><%=product.nombre%></h4>
                    <!--Text-->
                    <p class="card-text"><%=product.descripcion%></p>
                    <h6 class="card-text">STOCK DISPONIBLE: <%=product.stock%></h6>
                    <h5 class="card-title"> $<%=product.precio%></h5>
          
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-md" id="btn-<%=product.id%>">Agregar al carrito</button>
          
              
                  </div>
              
                </div>
                
          <% }%>
          
    </div>
    
</body>
</html>